<div id="Group_177">
	<div id="Group_10">
		<svg>
			<rect width="1000.262" height="117.134"></rect>
		</svg>
	</div>
	<div id="Quote">
		Am I a good person? No. But do I try to be better everyday? <br><b>Also no.</b>
	</div>
</div>

<div id="Group_178">
	<div id="Group_176">
		<div id="Introduction">
			<span>Introduction</span>
		</div>
		<div id="bio">
			Hey, my name is Joao and I’m an Astronomy major at Yale University. I believe that everyone should reach for the stars.  While at Yale, I also developed a passion for Computer Science and have completed the notorious Flatiron-Yale Web Development Bootcamp, which has endowed me with skills to benefit your company.<br/><br/>While I know that my criminal record might deter potential employers from hiring me, I can assure you that I paid for my mistakes and learned my lesson. Over the last 2 years, I have successfully reintegrated myself back into society and have become a model citizen!
		</div>
		<div id="Group_182">
			<svg class="Rectangle_7">
				<rect id="Rectangle_7" rx="12" ry="12" x="0" y="0" width="719" height="213">
				</rect>
			</svg>
			<div id="Amazing_man_Very_impressed_Roo">
				<span>Amazing man! Very impressed. Rooting for you to get a job.</span><br>
			</div>
			<div id="Ziming_Mao_Fellow_Student__">
				Ziming Mao, Fellow Student
			</div>
			<%= image_tag "Image_3.png", id: "Image_3" %>   
		</div>
		<div id="Group_181">
			<svg class="Rectangle_12">
				<rect id="Rectangle_12" rx="24.5" ry="24.5" x="0" y="0" width="220" height="49">
				</rect>
			</svg>
			<div id="Recommend">
				<span>Recommend</span>
			</div>
		</div>
		<div id="Group_183">
			<svg class="Rectangle_7_w">
				<rect id="Rectangle_7_w" rx="12" ry="12" x="0" y="0" width="719" height="213">
				</rect>
			</svg>
			<div id="While_Joao_might_seem_a_little">
				<span>While Joao might seem a little slow at first, he is a terrific coder and wonderful guy! 7/10, would recommend!</span><br><span style="color:rgba(50,53,63,1);"></span><br>
			</div>
			<%= image_tag "Image_2.png", id: "Image_2" %> 
			<div id="Jonas_Kavaliauskas_Fellow_Stud">
				<span>Jonas Kavaliauskas, Fellow Student</span><br><span style="font-style:normal;font-weight:normal;color:rgba(50,53,63,1);"></span><br>
			</div>
		</div>
	</div>
	<svg class="Rectangle_6">
		<rect id="Rectangle_6" rx="0" ry="0" x="0" y="0" width="324" height="368">
		</rect>
	</svg>
	<%= image_tag "Image_1.png", id: "Image_1" %> 
	<div id="Joao_Cardoso">
		Joao<br/>Cardoso
	</div>
	<div id="Gangster">
		Gangster
	</div>
	<div id="ID21_years_old">
		<b>Age</b>: 21
	</div>
	<div id="Lisbon">
		<b>From</b>: Lisbon
	</div>
	<div id="Yale_University">
		<b>School</b>: Yale University
	</div>
</div>
<div id="Languages">
	<span>Languages</span>
</div>

